parameters:
    level: 5
    phpVersion: 80300
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    checkExplicitMixedMissingReturn: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkDynamicProperties: true
    reportAlwaysTrueInLastCondition: true
    paths:
        - src
        - tests
        - config
        - examples
    ignoreErrors: